.App {
  text-align: center;
};

form {
  color: black;
}
.form_component {
  padding: 5px;
  /* border: 2px solid red; */
}

.login_box_outer {
  display: flex;
  justify-content: center;
}

.login_vert_box {
  /* display: flex; */
  margin-top: 55px;
  /* border: 2px solid orange; */
}

.login_box {
  background-color: aquamarine;
  width: 30%;
  height: 200px;
  border-radius: 10px;
}

.submit_button {
  padding: 2px 30px;
}