.App {
  text-align: center;
  /* background: #000; */
}

h2 {
  color: #2653C4;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

a, a:visited, a:hover {
  text-decoration: none;
  color:  #2653C4;
}

form {
  color: black;
}
.form_component {
  padding: 5px;
  /* border: 2px solid red; */
}

.login_box, .addHabit {
  background-color: #B3F0E6;
  width: 450px;
  min-height: 350px;
  border-radius: 1rem;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_box > * {
  padding: 1rem 0;
}

.submit_button, .add_button, .logout_button {
  padding: 0.7rem 1.7rem;
  margin: 15px;
  font-size: 14px;
  font-weight: bold;
  background: #EE749B;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  display: block;
}

.logout_button {
  background: #ffffff;
  color: #ee749b !important;
  font-weight: bold;
  font-size: 2rem;
  padding: 0 12px 6px 12px;
}

input[type="button"]:hover,
input[type="submit"]:hover,
.removeBtn:hover {
  color: white;
  background: #2653C4;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  border-radius: 5px;
  width: 200px;
  border: gray 1px solid;
  box-shadow: 0 0 5px #999999;
  padding: 5px 20px;
}

.habits_container {
  background-color: #B3F0E6;
  width: 450px;
  min-height: 500px;
  border-radius: 1rem;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.habits_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding: 1rem 0;
}

.habits_title_text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task_container {
  background: rgba(255,255,255,0.5);
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  padding: 0.5rem 2rem;
  transition: 0.2s;
}

.task_title {
  text-transform: capitalize;
  color: #EE749B;
  font-weight: bold;
}

.task_container:hover {
  background: rgba(255,255,255,0.85);
}

.errorPage {
  margin-top: -20rem;
}


/* 404 */
h1 {
  color: rgb(0, 182, 97);
  font-size: 250px;
  font-family: cursive;
  padding: 0%;
  margin: 0%;
}
